$list_header = $('#list_header')
$locations_div = $('#locations')

$locations_div.html('<div>')
<% @locations.each do |location| %>
    <% @location = location %>
    $locations_div.append('<%= j render "location", object: @location %>')
<% end %>   
$locations_div.append('</div>')
$("#search_position").val("");
$("#search_address").val("<%= @geocode["address"] %>")